<section class="discussion">
  <section  class="discussion__closed"
            ng-if="$state.current.name === 'data-sets.single'">
    <i      class="discussion__cta-open"
            ui-sref="data-sets.single.discuss"></i>
    <i      class="discussion__tab--notification"></i>
  </section>  
  <section  class="discussion__open"
            ng-if="$state.current.name === 'data-sets.single.discuss' || $state.current.name === 'data-sets.single.discuss.point'">
    <i      class="discussion__cta-close"
            ui-sref="data-sets.single"></i>            
  </section>
</section>

<section    class="share__action">
  <span     class="share__action-cta" 
            ui-sref="data-sets.single.share">Share Data Set
  </span>
</section>

<section    class="data-set__current">
  <ul       class="batches">
    <!-- First Graph -->
    <li     class="batch"
            ng-repeat="batch in current_data_set.batch">
<!-- Sidebar / Data representation for graph -->
<section    class="batch__sidebar">
  <section  class="batch__header">
    <i      class="batch__title-icon"></i>
    <h4     class="batch__title"
            ng-bind="batch.title">
    </h4>
    <i      class="batch__add-channel-action"></i>
  </section>
  <ul       class="batch__data">

  <!-- Each data item -->
  <li       class="batch__data-item"
            ng-repeat="channel in batch.channel">
  <!-- If the data item is NOT a group -->
  <section  class="channel"
            ng-if="!channel.group"
            ng-class="{'is-retracted': channel.state === 'retracted'}">
  <i        class="channel__dropdown"
            ng-click="toggleChannel(channel)"></i>
  <span id="graph_{{$index}}" 
            class="channel__title"
            ng-bind="channel.title">
  </span> 
  <span     class="channel__key"
            style="border-color: {{channel.key.color}}; border-bottom-style: {{channel.key.style}}">
  </span>
  <span class="channel__category"
  ng-bind="channel.category">
  </span>
  <ul class="channel__meta">
  <li class="channel__meta-item"
  ng-repeat="item in channel.meta"
  ng-bind="item">
  </li>
  <li class="channel__meta-item-new"
  ng-click="addNewMeta(channel)">
  <input type="text" class="channel__meta-item-new-input" ng-model="meta_add" ng-click="addNewMeta(channel)"><button class="channel__meta-item-save" ng-click="saveMetaChannel(channel, meta_add)">Save</button>
  </li>
  </ul>
  </section>

  <!-- If the data item is a group -->
  <section  class="channel__group"
  ng-if="channel.group"
  ng-class="{'is-retracted': channel.state === 'retracted'}">
  <!-- Retract group icon -->
  <i  class="batch__data-group-expand"
  ng-click="toggleGroup(channel)"></i>
  <!-- Group Title -->
  <h5 class="batch__data-group-title"
  ng-bind="channel.title">
  </h5>
  <!-- Group data list -->
  <ul class="batch__data-group">
  <!-- Channel item -->
  <li     class="channel is-group"
        ng-repeat="channel in channel.group"
        ng-class="{'is-retracted': channel.state === 'retracted'}">
  <!-- Channel dropdown -->
  <i    class="channel__dropdown"
        ng-click="toggleChannel(channel)">
  </i>
  <!-- Channel title -->
  <span class="channel__title"
        ng-bind="channel.title">
  </span>
  <span class="channel__key"
        style="border-color: {{channel.key.color}}; border-bottom-style: {{channel.key.style}}">
  </span>
  <!-- Channel Category -->
  <span class="channel__category"
        ng-bind="channel.category">
  </span>
  <ul class="channel__meta">
  <li         class="channel__meta-item"
              ng-repeat="item in channel.meta track by $index">
              <span ng-if="item.tag && !item.key">{{item.tag}}</span>
              <span ng-if="!item.tag && item.key" class="channel__meta-item-key">{{item.key}}</span>
              <span ng-if="!item.tag && item.value" class="channel__meta-item-value">{{item.value}}</span>
  </li>
  <li class="channel__meta-item-new">
    <span class="channel__meta-add" ng-class="{'is-active': channel.meta.show}" ng-click="channel.meta.show = true">Add Meta Data</span>
    <section class="channel__meta-item-input" ng-if="channel.meta.show">
    <input    class="channel__meta-item-new-tag" 
              type="text" 
              ng-model="meta.tag" 
              placeholder="Add a tag">
    <span     class="channel__meta-item-split">or</span>
    <fieldset class="channel__meta-item-pair">
      <input    class="channel__meta-item-new-key" 
                type="text" 
                ng-model="meta.key" 
                placeholder="Add a Key/Value">
      <input    class="channel__meta-item-new-value" 
                type="text" 
                ng-model="meta.value" >
    </fieldset>

    <button   class="channel__meta-item-close" 
              ng-click="channel.meta.show = false">Close
    </button>
    <button   class="channel__meta-item-save" 
              ng-click="saveMetaChannel(channel, meta)">Save
    </button>
    </section>

  </li>
  </ul>
  </li>
  </ul>
  </section>
  </li>

    </li>
  </ul>
</section>
      <!-- Visual chart representation for graph -->
      <section class="batch__chart">
        <ol class="batch__chart-data-points">
          <li class="batch__chart-data-point" 
              ng-repeat="data_point in batch.data_points"
              style="right: {{data_point.position.x}}px; bottom: {{data_point.position.y}}px"
              ui-sref="data-sets.single.discuss.point({ dataPoint: $index})">
              <span class="batch__chart-data-info"  ng-bind="data_point.count"></span>
          </li>
        </ol>
        <!-- Dummy Graph -->
        <img class="batch__chart-svg" ng-src="{{batch.chart}}">
      </section>
    </li>      

  </ul>
</section>

<section  class="discuss" 
          ui-view 
          ng-class="{ 'is-discussing': $state.current.name === 'data-sets.single.discuss' ||  $state.current.name === 'data-sets.single.discuss.point'}">
</section>

<section  class="tools" 
        ng-controller="ToolController"
        ng-include="'partials/tool.html'">
</section>