<section    class="observation__main">
  <section  class="observation__sidebar">
    <span   class="observation__author-photo"
            style="background-image: url('{{new_obvs.img}}')">
    </span>
  </section>
  <section  class="observation__main-info">
    <span   class="observation__author"
            ng-bind="new_obvs.author">
    </span>
    <span class="observation__info">
      <textarea class="observation__input">What do you think?</textarea>   
      <button class="observation__save">Save</button>   
    </span>
  </section>
</section>
