<section class="overlay">

  <buttion class="share__cancel" ui-sref="data-sets.single">Cancel</buttion>

  <section class="share">
    <i class="share__icon"></i>
    <p class="share__info">Copy this link into an email or message board.</p>
    <p class="share__aside">This link will copy your current data set, and view settings.</p>
    <input class="share__link" type="text" ng-model="share.link">
    <button class="share__finished" ui-sref="data-sets.single">Finished</button>
  </section>

</section>
