<section class="tools__readout">
  <span class="tools__readout-channel"
        ng-bind="channel.title">
  </span>  
  <span class="tools__readout-value"
        ng-bind="channel.value">
  </span>  
  <span class="tools__readout-category"
        ng-bind="channel.category">
  </span>  
  <span class="tools__readout-unit"
        ng-bind="channel.unit">
  </span>
</section>

<section class="tools__time">
  <span class="tools__time-value"
        ng-bind="data_set.time">
  </span>  
  <span class="tools__time-unit"
        ng-bind="data_set.unit">
  </span>
</section>