.observation {
  @include pad($gamma $alpha);
  @include span-columns(12);

  &:nth-child(even) {
    background-color: rgba($white, 0.03);
  }
}

.observation__header {
  @include span-columns(12);  
  @extend %monospaced-style;

}

%observation__header--item {
  &::before {
    @extend %icon-font;
    font-size: .6em;
    opacity: 0.3;
    margin-right: 1em;
  }
}

.observation__header-data-set {
  @extend %observation__header--item;

  &::before {
    content: '\e600';    
  }

}

.observation__header-data-point {
  @extend %observation__header--item;
   &::before {
    content: '\e601';
   }
}

.observation__main {
  @include span-columns(12);
  @include rem(font-size, $normal);
  @include rem(padding-top, $normal);
  position: relative;
  height: 100%;
}

.observation__sidebar {
  @include span-columns(1.5);
  height: 100%;
  margin: auto;
}

.observation__main-info {
  @include pad($normal);
  @include span-columns(10.5);
  height: 100%;
}

.observation__author-photo {
  display: block;
  float: left;
  width: 100%;
  margin: 20% auto;
  background: no-repeat center center;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.observation__author {
  @include span-columns(6);
  opacity: 0.3;
}

.observation__created {
  @include span-columns(4);
  text-align: right;
  opacity: 0.3;
}

.observation__info {
  @include span-columns(8);
  line-height: 1.4;
}

.observation__input {
  @extend %input-reset;
  @include span-columns(12);
}

.observation__save {
  @extend %button-reset;
  margin-top: $baby;
}













